{% extends 'base.html.twig' %}

{% block title %}Créer évènement{% endblock %}

{% block body_id 'create-event' %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.city) }}
    {{ form_row(form.nb_participant) }}
    {{ form_row(form.url_image) }}
    {{ form_row(form.description) }}
    {{ form_row(form.categories) }}

    <button type="submit">Créer évènement</button>
{{ form_end(form) }}

{% endblock %}