{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body_id 'inscription' %}

{% block body_class 'form-style' %}

{% block body %}

<div class="container">
	<h1 class="text-center mb-5">Inscription</h1>
	{{ form_start(form) }}
	<div class="form-row">
		<div class="form-group col-md-6">
	   		{{ form_row(form.firstname) }}
		</div>
	    <div class="form-group col-md-6">
	    	{{ form_row(form.lastname) }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
	    	{{ form_row(form.email) }}
		</div>
	    <div class="form-group col-md-6">
	    	{{ form_row(form.phone) }}
	    </div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
	    	{{ form_row(form.password.first) }}
	    </div>
	    <div class="form-group col-md-6">
	    	{{ form_row(form.password.second) }}
	    </div>
	</div>
	    <button type="submit" class="btn btn-primary d-block mx-auto">S'enregistrer</button>
	{{ form_end(form) }}
</div>

{% endblock %}