{{ form_start(filters, {attr: {class: 'js-filter-form'}}) }}
	
	<div class="spinner-border hide js-loading" role="status" aria-hidden="true">
		<span class="sr-only">Loading...</span>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
    		{{ form_row(filters.query) }}
    	</div>
    </div>
	<div class="form-row">
		<div class="form-group col-md-6">
    		{{ form_row(filters.name) }}
    	</div>
    </div>
	<div class="form-row date">
		<div class="form-group col-md-6">
    		{{ form_row(filters.date) }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
    		{{ form_row(filters.city) }}
    	</div>
    </div>
    {% if showCategoryFilter is defined and showCategoryFilter is same as(0) %}
    	
    {% else %}
		<div class="form-row categories">
			<div class="form-group col-md-6">
				<label class="required">Catégories</label>
			    {% for checkbox in filters.categories.children %}
			        <div class="categorie">
			            {{ form_widget(checkbox) }}
			            {{ form_label(checkbox) }}
			            {{ form_errors(checkbox) }}
			        </div>
			    {% endfor %}
	    	</div>
	    </div>
	{% endif %}

    <button type="submit" class="btn btn-primary d-block">Filtrer</button>

{{ form_end(filters) }}