{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body_id 'event' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if event[0].image is not null %}
                    <img class="img-fluid" src="{{vich_uploader_asset(event[0], 'imageFile')}}" alt="évènement-{{event[0].id}}" />
                {% endif %}
                <h1 class="mb-3 mt-3 text-center">{{event[0].name}}</h1>
                <p>Proposé par : <a href="{{ path('user_show', {id: event[0].creator.id})}}">{{event[0].creator.firstname}} {{event[0].creator.lastname}}</a></p>
                <p>Date : {{event[0].date|date("d-m-y")}} à {{event[0].date|date("H:m:s")}}</p>
                <p>Participant : {{event[0].getUsers()|length}} / {{event[0].limite}}</p>
                <p>Ville : {{event[0].city}}</p>
                <p class="card-text">Adresse : {{event[0].address}}</p>
                {% if event[0].getCategories()|length <= 1 %}
                    <p class="card-text">Catégorie : 
                {% else %}
                    <p class="card-text">Catégories : 
                {% endif %}
                {% for categorie in event[0].getCategories() %}
                    <a href="{{ path('events_category', {category: categorie.name})}}">{{categorie.name}}</a>
                {% endfor %}
                </p>
                <p>Liste des participants :
                {% for user in event[0].getUsers() %}
                    {% if loop.last %}
                        <a href="{{ path('user_show', {id: user.id})}}">{{user.firstname ~ ' ' ~ user.lastname}}</a>
                    {% else %}
                        <a href="{{ path('user_show', {id: user.id})}}">{{user.firstname ~ ' ' ~ user.lastname}},</a>
                    {% endif %}
                {% endfor %}
                </p>
                <p>{{event[0].description}}</p>
                <div class="d-block text-center btns-show-event">
                    {% if event[0].date < date() %}
                        <p class="text-danger">Evenement terminé !</p>
                    {% else %}
                        {% if participe != -1 %}
                            {% if event[0].getCreator().id != app.user.id %}
                                {% if participe == 1 %}
                                        {% include('events/_leave_form.html.twig') with {'event_id': event[0].id, 'participant': app.user.id} %}
                                {% else %}
                                    {% if event[0].getUsers()|length  != event[0].limite%}
                                        {% include('events/_join_form.html.twig') with {'event_id': event[0].id, 'participant': app.user.id} %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <p>Pour rejoindre un évènement, vous devez vous <a class="nav-link" href="{{ path('app_login')}}">connecter</a></p>
                        {% endif %}
                        <a class="btn btn-success mr-3" href="{{ path('edit_event', {'id': event[0].id}) }}">edit</a>
                        {% include('events/_delete_form.html.twig') with {'event_id': event[0].id} %}
                    {% endif %}
                </div>
                <a href="{{ path('events') }}">Retour liste des évènements</a>
            </div>
        </div>
    </div>


{% endblock %}

